<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>626421790975-efrvb869rvcup48dn10j90cgfg700cju.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.626421790975-efrvb869rvcup48dn10j90cgfg700cju</string>
	<key>API_KEY</key>
	<string>AIzaSyDpGMxHX8TvRoZIf-qxup7tmHV93sPM3uk</string>
	<key>GCM_SENDER_ID</key>
	<string>626421790975</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.captivsales.hq</string>
	<key>PROJECT_ID</key>
	<string>captiv-sales</string>
	<key>STORAGE_BUCKET</key>
	<string>captiv-sales.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:626421790975:ios:09c4542c456a5e03b6f4ca</string>
	<key>DATABASE_URL</key>
	<string>https://captiv-sales.firebaseio.com</string>
</dict>
</plist>